<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customer">

	<select id="selectList" resultType="customerDto">
		SELECT *
		FROM TB_CUSTOMER
	</select>
	<select id="selectOne" resultType="customerDto">
		SELECT *
		FROM
		TB_CUSTOMER
		WHERE ID = #{id}
	</select>
	
	<select id="selectOne2" resultType="customerDto">
		SELECT *
		FROM
		AUTHORITIES
		WHERE ID = #{id}
	</select>

	<insert id="insert" parameterType="customerDto">
		INSERT INTO TB_CUSTOMER
		VALUES(#{id},#{password},#{name},1,1,1,1)
	</insert>

	<update id="update" parameterType="customerDto">
		UPDATE TB_CUSTOMER
		SET PASSWORD
		= #{password}
		WHERE ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_CUSTOMER
		WHERE
		ID = #{id}
	</delete>
	
	<select id="login" parameterType="map" resultType="customerDto">
		SELECT ID, PASSWORD, NAME
		FROM TB_CUSTOMER
		WHERE ID = #{id} AND PASSWORD = #{pw}
	</select>

	<insert id="insertauthority" parameterType="customerDto">
		INSERT INTO AUTHORITIES
		VALUES(#{id},#{authority})
	</insert>
</mapper>
